body {
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    width: 1170px;
}

header {
    border-bottom: 1px solid #EBEBF1;
    border-right: none;
    box-shadow: 0px 6px 6px -4px #EBEBF1;
    width: 100%;
    margin: 0;
}

.header-container {
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 1168px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

form {
    width: 763px;
    height: 40px;
    border: 1px solid #EBEBF1;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

button[type="submit"] {
    border: none;
    background-color: white;
    margin-left: 10px;
}

input[type="text"] {
    border: none;
    outline: none;
    background-color: white;
    width: 90%;
}

.header-items {
    cursor: pointer;
}

::placeholder {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #BBC4D6;
}

.profile {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 19px;
    border-left: 1px solid #EBEBF1;
    cursor: pointer;
}

.profile-icon {
    display: none;
}

.person-name:hover {
    color:#121920;
}

.person-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 0.01em;
    color: #768298;
}

.main-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    padding: 0;
    max-width: 1170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    cursor: pointer;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 58px;
    color: #121920;
    margin: 0;
    padding: 0;
}

.partners {
    display: flex;
    height: 270px;
    max-width: 1170px;
    padding: 0;
    margin: 0;
    flex-flow: column wrap;
    align-content: space-between;
    justify-content: space-between;
}

.partners-item {
    display: block;
    flex-grow: 0;
    width: 270px;
    height: 120px;
    background-color: #FFFFFF;
    border: 1px solid #EBEBF1;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}

.pic {
    width: 234px;
    height: 64px;
    margin-top: 28px;
    margin-bottom: 28px;
    margin-left: 18px;
    margin-right: 18px;
}

@media (max-width: 768px) and (min-width: 376px) {
    body {
        max-width: 768px;
    }

    header {
        max-width: 768px;
        left: calc(50% - 768px/2);
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .header-container {
        max-width: 768px;
        justify-content: flex-start;
        margin: 0;
    }

    form {
        max-width: 344px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .main-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .partners {
        height: 420px;
        width: 768px;
        gap: 20px;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
        flex-flow: row wrap;
    }

    .partners-item {
        width: 230px;
        height: 120px;
    }

    .partners-item:nth-child(1) {
        order: 0;
    }

    .partners-item:nth-child(3) {
        order: 1;
    }

    .partners-item:nth-child(5) {
        order: 2;
    }

    .partners-item:nth-child(7) {
        order: 3;
    }

    .partners-item:nth-child(2) {
        order: 4;
    }

    .partners-item:nth-child(4) {
        order: 5;
    }

    .partners-item:nth-child(6) {
        order: 6;
    }

    .pic {
        width: 199px;
        height: 64;
        margin-left: 15px;
        margin-right: 15px;
    }

}

@media(max-width: 375px) {
    body {
        max-width: 375px;
    }

    .header-container {
        max-width: 375px;
        justify-content: space-between;
        align-items: flex-end;
        flex-flow: row wrap;
        height: 105px;
        padding: 0;
    }

    .header-items:first-child {
        padding-left: 21px;
    }

    .header-items:nth-child(3) {
        padding-right: 21px;
    }

    .profile {
        order: 1;
        border: none;
        margin: 0;
        padding: 0;
        height: auto;
    }

    .person-name,
    .profile-pic {
        display: none;
    }

    .profile-icon {
        display: block;
    }

    form {
        order: 2;
        border-radius: 0;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
    }

    .main-container {
        max-width: 375px;
        height: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    h1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 45px;
    }

    .partners {
        flex-flow: column nowrap;
        align-items: flex-start;
        gap: 20px;
    }

    .partners-item {
        width: 335px;
        height: 140px;
    }

    .pic {
        width: 285px;
        height: 82px;
        margin: 26px 25px;
    }

    .partners-item:nth-child(1) {
        order: 0;
    }

    .partners-item:nth-child(3) {
        order: 1;
    }

    .partners-item:nth-child(5) {
        order: 2;
    }

    .partners-item:nth-child(7) {
        order: 3;
    }

    .partners-item:nth-child(2) {
        order: 4;
    }

    .partners-item:nth-child(4) {
        order: 5;
    }

    .partners-item:nth-child(6) {
        order: 6;
    }
}

.partners-item:hover {
    box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03);
}

